@import './_Variable';

.playboard{
    display: flex;
    flex-direction: column;
    
    >:hover{
        opacity: .6;
    }

    >:active{
        opacity: .4; 
    }
}

.memoryboard{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
    height: auto;
    
    //use a var
    background-color: lightgrey;   
}

.gameUi{
    margin-top: 100px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    
    h1,h2{
        display: flex;
        align-items: center;
        justify-self: center;
    }

    >button{
        grid-area: 2/2;
    }

    h1{   
        grid-area: 3/2;
    }

    h2:nth-child(3){
        grid-area: 2/1;
    }

    h2:nth-child(4){
        grid-area: 2/3;  
    }

    background-color: rgb(79, 76, 76);
    width: 100%;
    height: 90px;
}


.playboard{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    grid-auto-flow: row;
    background-color: rgb(79, 76, 76);
    
    overflow: hidden;
    
}

.gameOverScreen{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 100%;
    width: 100%;
    background-color: black;

    h2{
        font-size: 15cqi;
        display: flex;
        align-self: center;
        justify-self: center;

        grid-column-start: 2;
        grid-column-end: 5; 
        grid-row-start: 2;
        grid-row-end: 3;
    }

    p{
        grid-column-start: 2;
        grid-column-end: 5; 
        grid-row-start: 2;
        grid-row-end: 3;
    }

    p:nth-child(4){  
        align-self: flex-end;
    }

    p:nth-child(3){
        justify-self: flex-end;
        align-self: flex-end;
    }

    button{
        display: flex;

        align-self: center;
        justify-self: center;
        justify-content: center;
        align-items: center;

        height: 30%;
        width: 50%;

        grid-column-start: 2;
        grid-column-end: 5;
        
        grid-row-start: 3;
        grid-row-end: 4;

        background-color: darkgrey;
    }

    img{
        display: flex;

        grid-column-start: 2;
        grid-column-end: 5;
        
        grid-row-start: 4;
        grid-row-end: 5;
        
        align-self: center;
        justify-self: center;
    }

    h1,h2,p{
       color: red;
    }
}

@media screen and (min-width: 0px) and (max-width: $sm_ph){
    .playboard{   
        grid-template-columns: repeat(3, 1fr); 
    }     
}

@media screen and (min-width: $sm_ph) and (max-width: $md_tab){
    .playboard{
        grid-template-columns: repeat(4, 1fr);   
    }

}

@media screen and (min-width: $md_tab) and (max-width: $md_desk){
    .playboard{
        grid-template-columns: repeat(5, 1fr);  
    }

}

@media (min-width: 992px){
    .playboard{   
        grid-template-columns: repeat(7, 1fr);
    }
}