
$sm_ph: 480px;
$md_tab: 768px;
$md_desk: 992px;
$lg_desk: 1200px;

//fonts

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Outfit:wght@100..900&family=Press+Start+2P&display=swap');




